# Firebase Configuration
# Get these values from Firebase Console → Project Settings → General → Your Apps → Web App
FIREBASE_API_KEY=AIzaSyCUhMo0Z7chEEfuLZgzKJXxSxs-nriv8yA
FIREBASE_APP_ID=1:716084398651:web:6aaee5c916f8fc6b152a1e
FIREBASE_PROJECT_ID=food-waste-management-549d6
FIREBASE_MESSAGING_SENDER_ID=716084398651
FIREBASE_AUTH_DOMAIN=food-waste-management-549d6.firebaseapp.com
FIREBASE_STORAGE_BUCKET=food-waste-management-549d6.firebasestorage.app


# Optional: Environment
FLUTTER_ENV=production
